<ion-grid class="ion-text-center">
  <ion-row>
    <ion-card >

      <ion-card-content>
        <ion-item>
          <ion-label>Username</ion-label>
          <ion-input [username]="username" placeholder="Username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input [password]="password" placeholder="Password" type="password" ></ion-input>
        </ion-item>
        <ion-button expand="block"> Log In</ion-button>
      </ion-card-content>
    </ion-card>

  </ion-row>

</ion-grid>
