<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-text-center">
      <ion-row>
        <ion-card >

          <ion-card-content>
            <ion-item>
              <ion-label>Username</ion-label>
              <ion-input placeholder="Username"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>First Name</ion-label>
              <ion-input placeholder="First Name"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input placeholder="Email" type="email"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input placeholder="Password" type="password" ></ion-input>
            </ion-item>
            <ion-button expand="block"> Register</ion-button>
          </ion-card-content>
        </ion-card>

      </ion-row>

  </ion-grid>



</ion-content>
